* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poetsen One", sans-serif;
}

.header .body {
  display: flex;
}

a {
  text-decoration: none;
}
.btn {
  color: #c30d0d;
  text-align: center;
  font-size: 25px;
  font-weight: 25px;
  background-color: blueviolet;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
}

.mainc {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: sticky;
  top: -28px; /* Đảm bảo giá trị dương */
  padding: 10px 10px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 40px 5px 5px 5px;
}

.navi ul {
  display: flex;
}
.navi {
  margin-left: auto;
}

.navi a {
  margin: 20px;
}

.navi a:hover {
  color: rgb(21, 22, 22);
  text-shadow: 1px 0 0 #c30d0d;
}
.btn01 {
  margin-left: 50px;
}
.fix {
  z-index: 1;
  background-color: antiquewhite;
  height: 100px;
}

.hero {
  padding: 56px 0 65px;
  background-color: antiquewhite;
}
.body01 {
  display: flex;
  background-color: antiquewhite;
}
.hero .strai {
  position: relative;
  width: 48%;
}
.hero .conten {
  width: 52%;
}

.hero .strai .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
}

.hero .bangnho {
  position: absolute;
  bottom: 48px;
  right: 0;
  background-color: white;
}

.bangnho {
  padding: 25px;
  border-radius: 5px;
}

.bangnho .item {
  display: flex;
  align-items: center;
}
.bangnho .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #725402;
  margin: 5px;
  margin-right: 10px;
}

.bangnho .icon2 {
  background-color: #c30d0d;
}

.bangnho .icon3 {
  background-color: aquamarine;
}

.bangnho .label {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.bangnho .title {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.conten .conten-01 {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}

.conten .dex {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.cta-group .hero-cta {
  border-radius: 32px;
  background: #ffb900;
  font-size: 18px;
  margin: 25px;
}

.cta-group .watch-video {
  margin-left: 28px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}
.conten .cta-group {
  display: flex;
}
.cta-group .icon {
  padding: 10px;
}
.watch-video .icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.dexx {
  margin-top: 48px;
}
.dexe {
  margin-top: 8px;
}

strong {
  margin-right: 15px;
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}

strong:nth-child(2) {
  margin-left: 28px;
}
.popular {
  margin-top: 50px;
  background-color: aliceblue;
}

.mainc .textt {
  /* padding: 35px; */
}
.mainc .textt .our {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.mainc .textt .dext {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.popular {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1170px;
}

.abc {
  display: flex;
  background: transparent;
  width: 98px;
  height: 40px;
}

.abc .nut1 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid blue;
  cursor: pointer;
}
.abc {
  gap: 20px;
}

.abc .nut1:hover {
  background: #c30d0d;
}
.hez {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.hez .dip {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.dip .pic {
  border: 1px solid rgb(230, 229, 229);
}

.pic .anh01 {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
}
.pic .picb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.picb .basic {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.picb .vot1 {
  color: #fea31b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.picb .dex {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.di .dex {
  margin-top: 10px;
}
.pic,
.picc {
  margin-top: 10px;
}
.picc .money {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.di .picc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 10px;
}
.book-now {
  font-size: small;
  width: 118px;
  height: 50px;
  border-radius: 25px;
  background: #ffb900;
}
.book-now:hover {
  cursor: pointer;
}
.pic .di {
  margin-left: 10px;
}
.hez .feedback {
  margin-top: 200px;
}
.feedback .khung {
  background-color: #3e3825;
  display: flex;
}

.item .anh05 {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: 96px;
}
.item .moor {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin-top: 18px;
}
.item .stu {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  color: #bfbcb2;
}
.item .dots {
  display: flex;
  margin-top: 10px;
  gap: 6px;
  margin-bottom: 50px;
}
.item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #c30d0d;
}
.maincc {
  display: flex;
}
.main .feedback {
  margin-top: 100px;
}
.maincc .conmen {
  width: 67%;
  margin-left: auto;
  margin-top: 96px;
}
.main .lear {
  margin-top: 200px;
  margin-bottom: 100px;
}
.lear_1 .anhdoi {
  display: flex;
  gap: 10px;
}
.anhdoi .anh07 {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}
.anhdoi .anhone {
  margin-top: 34px;
}
.mainc .lear_1 {
  display: flex;
}
.lear_1 .cout {
  margin: 100px;
}
.cout .come {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 470px;
}
.cout .leson {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 458px;
}
.cout .Sign {
  margin-top: 30px;
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
}
.take .next {
  display: flex;
}
.next .chu {
  margin-top: 371px;
}
.chu .come {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 550px;
}
.chu .leson {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 550px;
}
.chu .nut2 {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: #ffb900;
}
.dit .anh08 {
  width: 440px;
  height: 460px;
  flex-shrink: 0;
  margin: 100px;
  margin-top: 300px;
}
